body {
   font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

.sidebar img {
  border-radius: 50%;
  border: 5px solid white;
  width: 140px;
  height: 140px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 15px 0;
}

.sidebar a:hover {
  color: #14f031;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}

#inicio {
  background: url("img/inicio.webp") center/cover no-repeat;
  color: white;
}

#sobre {
  background-color: #121315;
  color: white;
  
}

.text-left {
  text-align: left;
}


#projetos {
  background-color: #393c41;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
  }
  a:hover {
    color: #14f031;
  }
}

.projeto {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.imagem-projeto {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease, filter 0.4s ease;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.titulo-projeto {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  z-index: 2;
}

.projeto:hover .imagem-projeto {
  transform: scale(1.1);
  filter: blur(3px);
}

.projeto:hover .overlay {
  opacity: 1;
}

.modal-content {
  background-color: #1e1e2f; 
  color: #ffffff;           
}

.modal-body a.btn {
  margin-right: 10px;
}

.btn-close {
  filter: invert(1); /* deixa o "X" branco em fundo escuro */
}


#contato {
  background-color: #121315;
  color: white;
  padding: 80px 20px;
}

#whatsapp {
  background-color: #25d366;
  padding: 5px 15px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.social-icons a {
  font-size: 1.5rem;
  color: white;
  margin: 0 10px;
  transition: color 0.3s;
}
/* Hover personalizado */
.social-icons a.linkedin:hover {
  color: #0077b5;
}

.social-icons a.github:hover {
  color: #2d1a99;
}

.social-icons a.instagram:hover {
  color: #e1306c;
}

/* Responsividade */
@media (min-width: 768px) {
  .layout {
    display: flex;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    padding-top: 60px;
  }

  .main-content {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
  @media (max-width: 767.98px) {
    .main-content {
      padding-top: 56px; /* altura da navbar fixa*/
    }
  }
}




